################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentOrganiser/FileContentIndex/8a75cafc-6352-4ce3-864d-f0caa8836b92.vsidx
/.vs/StudentOrganiser
/Platforms/Android/AndroidManifest.xml
